{include file="public/head_old" /}
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script> -->
<body class="hotel">
	<ul>
		{volist name="kefangs" id="vo" key="k"}
		<li class="rooms">
			<div class="wrap">
				<div class="left   tjclick">
					<div class="pic tjclick rpDetail">

						<img src="<?php echo img($vo['dengji'],$dianma); ?> "/>

					</div>
					<div class="picroom-info">
						<div class="room">{$vo['mingcheng']}</div>
						<div class="room-info">
							<span>25平米</span> <span>多张床</span> <span> 有窗 </span>
						</div>
						<div class="icon icon-hs"></div>
					</div>
				</div>
				<div class="right">
					<div class="price">
						<span>¥</span><span class="num">{$vo['wangdingjia']}</span>/ <span
							style="color: #f55; font-size: 0.6rem; margin-right: 0px;">VIP</span>
						<span>¥</span><span class="num">{$vo['wangdingjia']}</span>

					</div>
					<div class="order">
						<div class="number">可选{$vo['count']}</div>
						<div class="btn2 btn2_center"
							style="width: 90%; float: right; margin: 10px 0px;">
							<a href="#">视频</a>	
							{if condition="$vo['count'] gt 0"}
							 <a href="listByCatelog?dengji={$vo['dengji']}&dianma={$dianma}">选房</a>							 
							{/if}							
											
							
						</div>
					</div>
				</div>
			</div>
		</li> {/volist}
	</ul>

</body>
</html>