 {include file="public/newhead" /}
<body>
	<div style="display: none;" via="leonid" type="wide" ver="20170913"
		env="product" id="channel">hotel</div>
	<div id="block-content">

		<div id="main-wrapper" class="clearfix ">
			<!--左边部分-->
			<div id="main">

				<div id="hotel-list">
					<ol class="list">                     
                        {volist name="hotels" id="vo" key="k"}
						<li class="list-li h91633828">
							<div class="clearfix single-wrapper">
								<a
									onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
									title="{$vo['店名']}" class="img-container"
									href="catalog?dianma={$vo['店码']}" target="_blank"
									
									style="width:40%;float:left"> <img
									class="big-hotel-img" rel="nofollow"
									src="//pavo.elongstatic.com/i/mobile960/nw_000boomS.jpg"
									data-src="//pavo.elongstatic.com/i/mobile960/nw_000boomS.jpg"
									alt="{$vo['店名']}"
									onerror="this.src='//file.40017.cn/img140017cnproduct/cn/h/dzs-hotel/1.0.0.0/images/common/default-big.jpg'">
									

								</a>
								<div class="info" style="width:50%;float:left;">
								  
									<h3 class="fm-Yahei">
										<p>
											<a
												onclick="#"
												title="{$vo['店名']}" href="catalog?dianma={$vo['店码']}"
												target="_blank" class="clearfix"> 
<!-- 												<i class="num">1</i>  -->
                                              <span
												class="title"> {$vo['店名']} <span class="star_level">

<!-- 														<span class="level diamond d4" title="高档型（同行/同程网友评定为4钻）"><em><i></i></em></span> -->
												</span>
											</span>
											</a> 
										

										</p>
									</h3>
									
									
									<div class="icons-wrap clearfix">
										<i title="免费WiFi" class="icon-wifi-free"></i><i title="免费停车场"
											class="icon-park-free"></i><i title="接机服务" class="icon-plane"></i><i
											title="餐厅" class="icon-diningRoom"></i>
									</div>
								</div>
								
								
								<div class="sold-out">
								 <div class="oper"><a href="catalog?dianma={$vo['店码']}">选房</a></div>
								 <div class="oper"><a href="jdjs?dianma={$vo['店码']}">详情</a></div> 
								</div>
								<i></i>
							</div>
							

						</li>
						{/volist}

					</ol>
				</div>


			</div>



		</div>

	</div>



</body>
{include file="public/footer" /}
</html>