 {include file="public/newhead" /}
<body>
	<div style="display: none;" via="leonid" type="wide" ver="20170913"
		env="product" id="channel">hotel</div>
	<div id="block-content">

		<div id="main-wrapper" class="clearfix ">
			<!--左边部分-->
			<div id="main">

				<div id="hotel-list">
					<ol class="list">                     
                        {volist name="hotels" id="vo" key="k"}
						<li class="list-li h91633828 " data-lat="40.821834"
							data-lon="111.720953" data-hotel-name="{$vo['店名']}"
							data-id="91633828" data-deshotelid="91633828"
							data-seationid="3362" data-cityid="264"
							data-bigpic="//pavo.elongstatic.com/i/mobile960/nw_000boomS.jpg">
							<div class="clearfix single-wrapper">
								<a
									onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
									title="{$vo['店名']}" class="img-container"
									href="catalog?dianma={$vo['店码']}" target="_blank"> <img
									class="big-hotel-img" rel="nofollow"
									src="//pavo.elongstatic.com/i/mobile960/nw_000boomS.jpg"
									data-src="//pavo.elongstatic.com/i/mobile960/nw_000boomS.jpg"
									alt="{$vo['店名']}"
									onerror="this.src='//file.40017.cn/img140017cnproduct/cn/h/dzs-hotel/1.0.0.0/images/common/default-big.jpg'">

								</a>
								<div class="info">
									<h3 class="fm-Yahei">
										<p>
											<a
												onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
												title="{$vo['店名']}" href="catalog?dianma={$vo['店码']}"
												target="_blank" class="clearfix"> <i class="num">1</i> <span
												class="title"> {$vo['店名']}<span class="star_level">

														<span class="level diamond d4" title="高档型（同行/同程网友评定为4钻）"><em><i></i></em></span>
												</span>
											</span>
											</a> <span class="tags"> <span class="flags"> <strong
													title="同程用户真实点评推荐" class="comment_tag">早餐好</strong>
											</span>
											</span>

										</p>
									</h3>
									<!-- 
									<p class="detail-info">

										<i> <i class="add">东影南街31号</i> <i class="map-btn">查看地图</i>
										</i>

									</p>
									 -->
									<div class="icons-wrap clearfix">
										<i title="免费WiFi" class="icon-wifi-free"></i><i title="免费停车场"
											class="icon-park-free"></i><i title="接机服务" class="icon-plane"></i><i
											title="餐厅" class="icon-diningRoom"></i>
									</div>
								</div>
								<div class="sep"></div>
								<div class="comment">

									<a
										onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
										rel="nofollow" href="catalog?dianma={$vo['店码']}"
										target="_blank" class="comment-detail">
										<dl class="">

											<dt class="bg">
												<span class="recent-grade">4.7</span>/5分<span
													class="recent-word">超赞</span>
											</dt>


											<dd class="bg">
												<span>1144</span>条点评
											</dd>
											<!--                                                         <dd class="good-comment"><span>100%</span>好评</dd> -->

										</dl>
									</a>

									<div class="rencent-book">最新预订:5小时前</div>


								</div>
								<div class="sep"></div>
								<div class="price-info chosen">

									<a
										onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
										href="catalog?dianma={$vo['店码']}" target="_blank"
										class="a-price">
										<p class="my-price ">

											<i class="fm-Yahei">¥</i>439<span>起</span>

										</p>
									</a> <a
										onclick="_tcTraObj._tcTrackEvent('search', '13', '/detail', '|*|pos:1|*|k:null|*|locPId:0|*|locCId:0|*|cityId:264|*|filter:|*|sort:0/0|*|pgPath:/hotel/list|*|resId:91633828|*|showPrice:439.0|*|resCH:elong|*|')"
										href="catalog?dianma={$vo['店码']}" target="_blank"
										class="detail-btn fm-Yahei">查看详情</a>
									<p class="favorite" data-id="91633828" title="点击收藏酒店">
										<i></i><span class="text">收藏</span> <span class="more-fav">收藏功能需<a
											href="">登录</a>后才可以操作
										</span>
									</p>
								</div>
								<div class="sold-out">售罄</div>
								<i></i>
							</div>
							<div class="more-map-info">
								<div id="h_map_wrap_91633828" class="mapwrapper">
									<div class="h_map_wrap">
										<div id="mapDiv_91633828" class="mapdiv"></div>
										<div class="h_map">
											<div class="router-paner">
												<div class="r-search-box">
													<span class="revert-icon"></span>
													<div class="r-search-con">
														<div class="r-input r-start">
															<span class="clear-icon"></span> <input type="text"
																maxlength="256" placeholder="输入起点"
																　class="r-start-input" id="txt_start_91633828">
														</div>
														<div class="r-input r-end">
															<span class="clear-icon"></span> <input type="text"
																maxlength="256" placeholder="输入终点" 　class="r-end-input"
																id="txt_end_91633828">
														</div>
														<div class="r-btn-box">
															<button class="r-search-btn" data-hid="91633828">查
																询</button>
															<a href="javascript:void(0);" class="r-clear-btn">清除路线</a>
														</div>
													</div>
												</div>
											</div>
											<div class="landmark"></div>
											<div class="r-map-result none">
												<ul class="r-ways-tab" data-hid="91633828">
													<li class="active" data-type="bus">公交</li>
													<li data-type="car">驾车</li>
													<li data-type="foot" class="last">步行</li>
												</ul>
												<div class="r-result-con" id="r_91633828_result"></div>
											</div>
											<div class="h_map_lp"></div>
											<div class="h_map_show">
												<span class="checked"><i
													class="silder-map-checked-icon"></i>显示周边酒店</span>
											</div>
										</div>
									</div>
									<div class="slide_up clearfix">
										<span class="right on">收起 <i class="icon_sort_arrb2"></i></span>
									</div>
								</div>
							</div>

						</li>
						{/volist}

					</ol>
				</div>


			</div>



		</div>

	</div>



</body>
{include file="public/footer" /}
</html>