{include file="public/head" /}
<body class="jdbj">
	<div>
		<h3>{$shopInfo['店名']}</h3>
		<div class="tpcj">
			<img src="<?php echo hotelImg($dianma); ?>" title="酒店外观" width="100%" />
		</div>
	</div>
	<div title="酒店介绍" class="suggest">
		<h4>{$shopInfo['店名']}</h4>
		<div>
			<p statue="0" class="text close_text">
			{$jdjs['酒店简介']}
			</p>
			
		</div>
		<div class="show_more">
				<a href="catalog?dianma={$dianma}" class="show_more_btn">选房</a>
				<a href="orderInfo" class="show_more_btn">查单</a>
			</div>

	</div>
	<div title="酒店设施和服务" class="serve">
		<h4 class="tit03">设施与服务</h4>
		<div class="serve02">
			<span><i>免费</i>WlFl</span><span>24小时热水</span><span><i>免费</i>网络电视大片</span><span><i>免费</i>WlFl</span><span>24小时热水</span><span><i>免费</i>网络电视大片</span>
		</div>
	</div>
	<div title="酒店活动" class="serve" style="min-height: 500px;">
		<h4 class="tit03">酒店活动</h4>
		<div class="serve03">
			<img src="<?php echo hotelActiveImg($dianma); ?>" title="酒店活动" width="100%" height="auto">
		</div>
	</div>
	<!-- 底部投诉电话 -->
	<div class="boot">
		<div class="tle01">
			<span><img src="__IMG__/tel01.png" width="24px"></span>酒店电话：
			{$jdjs['业务电话']}
		</div>
		<div class="tle02">
			<span><img src="__IMG__/tel02.png" width="24px"></span>投诉电话
			{$jdjs['投诉电话']}
		</div>
	</div>
</body>

</html>