{include file="public/head" /}
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>
<body>
	<div class="pages page-fade" data-events="click">
		<div class="page ab1181 page-on-center" data-blend="layer"
			data-blend-id="h5_createorder"
			data-url="/hotel/createorder/?hotelid=00701178&amp;uniqueid=00701178%3A0074%3A22390043%3Anull%3A1&amp;roomid=0074&amp;rateplanid=22390043&amp;promotionid=_&amp;ismj=0&amp;policyid=&amp;checkindate=2019-03-31&amp;checkoutdate=2019-04-01&amp;roomtype=0&amp;mroomid=0010&amp;drvtype=0"
			id="uniq22" data-title="订单填写" data-title-id="h5_createorder"
			data-events="click">
			<header class="bar bar-nav createorder-header">
				<a
					class="icon icon-phone pull-right" href="tel:400-666-1166">
					</a> 
				<h1 class="title">{$shop['店名']}</h1>
			</header>
			<nav class="bar bar-tab create-order-bar">
				<div class="total">
					<div class="orderprice return middleshow">
						定金￥<span id="wborderprice">{$deposit}</span>
					</div>
					<div class="returnprice">
						<div class="coupontext" style="display: block;"></div>
					</div>
				</div>
				<div id="mobilesubmit" class="next commit tjclick"
					onClick="javascript:validAndSubmit();"
					data-tj="{&quot;cspot&quot;:&quot;nextstep&quot;}">
					<span> 提交订单 </span> <span
						class="preloader preloader-white button-loader"> </span>
				</div>
			</nav>
			<nav class="bar record" id="record-text" style="display: none;">
			48小时内有38人预订该酒店
			</nav>
			<!--新AB时隐藏老版本登录条-->
			<div class="page-content  order-fill-top">
				<div class="header-decorate"></div>
				<section class="order-info">
					<h1>
						酒店详情 <span> </span>
					</h1>
					<div class="d-info">
						
						<div class="bwrap na">
							<p class="name">{$shop['店名']}</p>
							<p class="addr">地址：{$shop['地址']} </p>
						</div>
						<div class="bwrap date">
							<p>入住日期：2019年3月31日(周日)</p>
							<p>退房日期：2019年4月1日(周一)</p>
						</div>
						<dl class="type">
							<dt>房间类型：商务房B</dt>
							<dd>
								<i class="icon-net"></i>互联网
							</dd>
							
						</dl>
 
					</div>
					<div class="p-info   p-info-top  ">
						<p class="type">商务房B</p>
						<p class="date">3月31日 - 4月1日 共1晚</p>
						<div class="sale_info">
							<div class="immediatelyConfirm-enough">
								<span>及时确认</span>订单提交后，酒店将第一时间确认您的订单
							</div>
						</div>
					</div>
				</section>
				<!-- 新登录条 -->
				<form action="order?dengji={$vo['等级']}" method="post" id="orderForm">
					<article class="order-content">
						<section class="order-fill">
							<!-- 房间数 -->
							<!--  
							<div class="room-number">

								<div class="label">房间数</div>
								<div class="content list-input">

									<select id="roomcount" name="roomcount">
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>

								</div>

							</div>
							-->

							<!-- 预住天数 -->
							<div class="room-number">

								<div class="label">预住天数</div>
								<div class="content list-input">

									<select id="tianshu" name="tianshu">
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="6">7</option>
										<option value="6">8</option>
										<option value="6">9</option>
										<option value="6">10</option>
									</select>

								</div>

							</div>


							<!-- 入住人 -->
							<div class="contact-person">
								<ul>
									<li>
										<div class="label">预定人</div>
										<div class="content list-input">
											<input type="text" class="createorder" name="xingming"
												id="xingming" placeholder="填写预定人姓名" value="">
										</div></li>
								</ul>
								<div class="add-person-button" data-events="click">
									<div class="person-choose"></div>
								</div>
							</div>

							<!-- 身份证号-->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">身份证号</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="text" maxlength="25"
											class="area-number createorder" name="shenfenzhenghao"
											placeholder="用于验证是否会员" id="shenfenzhenghao" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>

							<!-- 联系电话 -->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">联系电话</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="tel" maxlength="25"
											class="area-number createorder" name="dianhua"
											placeholder="用于接收通知" id="dianhua" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="room-number">

								<div class="label">性别</div>
								<div class="content list-input">

									<select id="xingbie" name="xingbie">
										<option value="1" selected="selected">男</option>
										<option value="2">女</option>

									</select>

								</div>

							</div>

							<!-- 到场验证码-->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">到场验证码</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="text" maxlength="25"
											class="area-number createorder" name="validCode"
											placeholder="用到场验证码" id="validCode" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>
							<!-- 到店时间 
							<div class="time-reserve"
								data-tj="{&quot;cspot&quot;:&quot;timereserve&quot;}">
								<div class="time-reserve-body">
									<label for="room-reservation"></label>
									<div class="label">预计到店</div>
									<div class="content list-input">
										<input type="text" readonly="readonly" class="cert-type"
											id="room-reservation" value="" data-events="click"
											style="font-size: 14px;"> <span><i
											class="icon-left"></i></span>
									</div>
								</div>
							</div>-->
							
							<input type="hidden" name="rooms" id="rooms" value="{$rooms}" />
							<input type="hidden" name="dengji" id="dengji" value="{$vo['等级']}" />
                            <input type="hidden" name="dianma" id="dianma" value="{$dianma}" />
							
						</section>
					</article>
				</form>
			</div>
			<input type="hidden" class="createorder" name="arrivetime"
				id="hidarriveTime" value="1">

		</div>
	</div>

</body>
<script language="javascript">
 var validAndSubmit=function(){
	 
	 var shenfenzhenghao=$('#shenfenzhenghao').val();
	 var dianhua=$('#dianhua').val();
	 var validCode=$('#validCode').val();
	 if(shenfenzhenghao==null||shenfenzhenghao==''){
		 alert('请填写身份证号。');
		 return ;
	 }
	 if(shenfenzhenghao.length!=18){
		 alert('请填写正确的身份证号码。');
		 return ; 
	 }
	 
	 if(dianhua==null||dianhua==''){
		 alert('请填写电话号码。');
		 return ;
	 }
	 
	 if(validCode==null||validCode==''){
		 alert('请填写到场验证码。');
		 return ;
	 }
	 
	 $.ajax({
			type : "POST",
			url : 'order',
			data : {
				'dengji':$('#dengji').val(),
				'xingming' : $('#xingming').val(),
				'xingbie':$('#xingbie').val(),
				'shenfenzhenghao':$('#shenfenzhenghao').val(),
				'dianhua':$('#dianhua').val(),
				'zhifufangshi':'1',
				'rooms':$('#rooms').val(),
				'tianshu':$('#tianshu').val(),
				'dianma':$('#dianma').val()			
			},
			dataType : "json",
			success : function(data) {
				//alert(data.appId);
				jsApiCall(data);				
			},
			error : function(info) {
				console.log("连接异常，请检查！")
			}
		});
	 
 }
 
 function jsApiCall(getBrandWCPayRequest)
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			getBrandWCPayRequest,
			function(res){
				WeixinJSBridge.log(res.err_msg);
				alert(res.err_code+res.err_desc+res.err_msg);
			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
 
 $(document).ready(function(){
	 // 当预定酒店房间数和预住时间发生变化时候重新计算定金
	  $("#roomcount").change(function(){
		  calculateDeposit($('#tianshu').val());
		  	  
	  });
	 
	 $('#tianshu').change(function(){
		 calculateDeposit($('#tianshu').val());
		 
	 })
	 	 
});
 
 var calculateDeposit=function(tianshu){
	   
	 $.ajax({
			type : "POST",
			url : 'calculateDeposit',
			data : {
				'rooms':$('#rooms').val(),
				'tianshu' : tianshu,
				'dengji':$('#dengji').val(),
				'shenfenzhenghao':$('#shenfenzhenghao').val(),
				'dianma':$('#dianma').val()
				
			},
			dataType : "json",
			success : function(data) {
				if(data.Deposit.success){
					$('#wborderprice').text(data.Deposit.deposit);
				}else{
					alert(data.Deposit.mess);
				}
								
			},
			error : function(info) {
				console.log("连接异常，请检查！")
			}
		});
	  
 }
 
</script>

{include file="public/footer" /}
</html>