{include file="public/head" /}
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<div class="pages page-fade" data-events="click">
	<div class="page ab1181 page-on-center" data-blend="layer">
		<div class="page-content  order-fill-top" style="padding-top: 10px;">
			{volist name="orderInfos" id="vo" key="k"}
			<article class="order-content" style="height:425px;">
				<section class="order-fill" style="padding-bottom: 20px">

					<div class="contact-person">
						<ul>
							<li>
								<div class="label">订单号:</div>
								<div class="content list-input">{$vo['dingdanhao']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>

					<div class="contact-person">
						<ul>
							<li>
								<div class="label">酒店名称:</div>
								<div class="content list-input">{$vo['dianming']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">姓名:</div>
								<div class="content list-input">{$vo['xingming']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">身份证号:</div>
								<div class="content list-input">{$vo['shenfenzhenghao']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">房间类型:</div>
								<div class="content list-input">{$vo['dengjiming']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">预定时间:</div>
								<div class="content list-input">{$vo['yudingshijian']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">预定房间:</div>
								<div class="content list-input">{$vo['yudinghao']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">预住天数:</div>
								<div class="content list-input">{$vo['yuzhutianshu']}</div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>
					
					<div class="contact-person">
						<ul>
							<li>
								<div class="label">预定金额:</div>
								<div class="content list-input"> ¥ {$vo['yudingjine']|number_format=2} </div>
							</li>
						</ul>
						<div class="add-person-button" data-events="click">
							<div class="person-choose"></div>
						</div>
					</div>

				</section>
			</article>
			 {/volist}
			
		</div>
	</div>
</div>

</html>