{include file="public/head" /}
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>
<body>
	<div class="pages page-fade" data-events="click">
		<div class="page ab1181 page-on-center" data-blend="layer">
			
			<div class="page-content  order-fill-top" style="padding-top:10px;">
			
				<form action="" method="post" id="orderForm">
					<article class="order-content">
						<section class="order-fill">
							
							<div class="contact-person">
								<ul>
									<li>
										<div class="label"></div>
										<div class="content list-input">
											<input type="text" class="createorder" name="xingming"
												id="xingming" placeholder="填写预定人姓名" value="">
										</div></li>
								</ul>
								<div class="add-person-button" data-events="click">
									<div class="person-choose"></div>
								</div>
							</div>

							<!-- 身份证号-->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">身份证号</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="text" maxlength="25"
											class="area-number createorder" name="shenfenzhenghao"
											placeholder="用于验证是否会员" id="shenfenzhenghao" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>

							<!-- 联系电话 -->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">联系电话</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="tel" maxlength="25"
											class="area-number createorder" name="dianhua"
											placeholder="用于接收通知" id="dianhua" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="room-number">
								<div class="label">性别</div>
								<div class="content list-input">
									<select id="xingbie" name="xingbie">
										<option value="1" selected="selected">男</option>
										<option value="2">女</option>
									</select>
								</div>
							</div>
							<!-- 到场验证码-->
							<div class="order-contact">
								<div class="tel-text">
									<span class="tel-person">到场验证码</span> <label for="area-code"></label>
									<div class="area-address">
										<input type="text" maxlength="25"
											class="area-number createorder" name="validCode"
											placeholder="用到场验证码" id="validCode" value="">
										<div class="tel-choose" style="color: rgb(220, 220, 220);">
											<span class="icon-choose"></span>
										</div>
									</div>
								</div>
							</div>
						</section>
					</article>
				</form>
			</div>
		</div>
	</div>

</body>

{include file="public/footer" /}
</html>