#hotel-list {
	padding-top: 12px;
	position: relative;
	min-height: 676px;
	font-family: Microsoft Yahei, Arial, sans-serif;
	color: #333;
}

#hotel-list .list li {
	border: 1px solid transparent;
	border-bottom-color: #eee;
	position: relative;
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}

#hotel-list .list li .single-wrapper {
	padding: 15px 0 15px 10px;
	position: relative;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}

#hotel-list .list li .single-wrapper .img-container {
	height: 135px;
	width: 174px;
}

#hotel-list .list li .single-wrapper>* {
	float: left;
}

#hotel-list .list .img-container {
	position: relative;
}

a {
	color: #005bb5;
	text-decoration: none;
	outline: 0;
}

#hotel-list .list li .single-wrapper .img-container img {
	width: 100%;
	height: 100%;
	display: block;
	background:
		url(//img1.40017.cn/cn/sl/dzs-hotel/1.3.3.0/list/transparent_loading_big.gif)
		no-repeat;
	background-size: 100%;
}

#hotel-list .list .big-hotel-img {
	width: 174px;
	height: 130px;
}

img {
	border: 0;
}

#hotel-list .list .info {
	margin-left: 13px;
	width: 387px;
	padding-right: 10px;
}

hotel-list .list h3 {
	font-size: 18px;
	margin-top: -3px;
	word-break: break-all;
	width: 390px;
}

fm-Yahei {
	font-family: Microsoft Yahei, Arial, sans-serif;
	line-height: 24px;
	font-weight: 400;
}

#hotel-list .list .info p.detail-info {
	line-height: 21px;
	padding-top: 3px;
	padding-left: 30px;
}

.info .icons-wrap {
	height: 22px;
	margin-top: 5px;
	margin-left: 28px;
}

body, button, caption, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6,
	html, input, legend, ol, p, pre, select, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

#hotel-list .list h3 {
    font-size: 18px;
    margin-top: -3px;
    word-break: break-all;
    width: 390px;
}

.fm-Yahei {
    font-family: Microsoft Yahei,Arial,sans-serif;
}

#hotel-list .list h3 a {
    line-height: 32px;
    display: block;
}

#hotel-list .list h3 i.num {
    float: left;
}

#hotel-list .list h3 i {
    background: transparent url(//file.40017.cn/img140017cnproduct/cn/h/dzs-hotel/2.0.0.7/images/list/icon-num.png) no-repeat 100% 100%;
    width: 23px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
}