.hotel ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.hotel ul li {
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100px;
}

.hotel ul li .wrap {
	padding: 0 25px 0 0;
	position: relative;
	overflow: hidden;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	min-height: 38px;
}

.hotel ul li .wrap .left {
	padding: 5px 0 5px 11px;
	-webkit-box-flex: 1;
	flex: 1;
	float: left;
	width: 60%;
	box-sizing: border-box;
}

.hotel ul li .wrap .left .pic {
	float: left;
	width: 92px;
	height: 90px;
	/* 	background-image: url(source/no_pic.png); */
	background-repeat: no-repeat;
	position: relative;
/* 	z-index: 1000; */
	background-size: 92px 92px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.hotel ul li .wrap .left .pic img {
	width: 92px;
	height: 90px;
}

.hotel ul li .wrap .left .picroom-info {
	margin-left: 83px;
	position: relative;
/* 	z-index: 1000; */
	padding-top: 3px;
	padding-left: 20px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.hotel ul li .wrap .left .room {
	color: #353535;
	font-size: .938rem;
	line-height: .938rem;
}

.hotel ul li .wrap .left .room-info {
	font-size: 0.625rem;
	line-height: 0.625rem;
	color: #898989;
	margin-top: 8px;
	white-space: nowrap;
}

.hotel ul li .wrap .right {
	display: block;
	margin-right: 3px;
	width: 40%;
	height: 100%;
	float: left;
}

.hotel .wrap .right .price {
	line-height: 1rem;
	font-size: 0.75rem;
	color: #999;
	white-space: nowrap;
	height: 20px;
	text-align: right;
	padding-right: 10px;
}

.hotel .wrap .right .order {
	line-height: 1rem;
	font-size: .75rem;
	color: #999;
	white-space: nowrap;
	height: 60px;
	float: right;
}

.hotel .wrap .right .order .number{
	float: right;
	margin-right:10px;
}

.hotel .wrap .right .order .btn2 {
	/* 	width: 40px; */
	/*     height: 40px; */
	/*     line-height: 40px; */
	float: right;
	right: 0;
	margin-right: 12px;
	font-size: .75rem;
	color: #999;
	white-space: nowrap;
}

.hotel .wrap .right .order .btn2 a {
	display: block;
	line-height: 23px;
	color: #FFF;
	background: #f55;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	width: 40px;
	/* 	height: 40px; */
	float: right;
	margin-right: 2px;
}

.hotel .wrap .right .order .btn2 .btn2_yf {
	color: #4499ff;
	background: #e7f2ff;
	line-height: 19px;
	font-size: .7rem;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.hotel .wrap .right .price span {
	color: #f55;
	font-size: 0.75rem;
	margin-right: 3px;
}

.hotel .wrap .right .price span .num {
	font-size: 1.125rem;
	margin-right: 1px;
}

.hotel ul li .wrap .de-btn {
	border-color: #888;
	border: 1px solid #999;
	border-radius: 20px;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.hotel ul li .wrap .de-btn i:after {
	border-color: #888;
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	top: 3px;
	left: 4px;
	border: 1px solid #888;
	border-width: 1px 0px 0px 1px;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.icon-play{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 52px;
    height: 52px;
    margin: -26px 0 0 -26px;
    background: url(http://vs6.bdstatic.com/browse_static/v3/videoChannelCommon/img/icon/play_821ce903.png) no-repeat 50% 50%;
    opacity: 2;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
	
}
