 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 -->  

			<div class="content">
			  <div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title">{$meta_title|default=""}</div>
				 <div class="edit_box">
					<div class="edit_tab">
					一建生成控制器，模型，验证器，视图文件
					</div>
					<div class="edit_content">
						<form class="form-horizontal" action="{:url('')}" method="post" enctype="multipart/form-data">
							 <div class="edit_content_tab">
								 
								  <div class="form-group">
									<label>模型英文名称<span>(英文，首字符必须大写，例如Ad,slide)</span></label>
									   <div class="form-input">
									      <input type="text" name="model" value="{$info.title|default=""}">
									   </div>
								  </div>  
								  
								  <div class="form-group">
									<label>名称<span>(上述模型中文名称,用于注释，网站标题，如广告，幻灯片)</span></label> 
									 <div class="form-input">
									     <input type="text"  name="title" value="{$info.title|default=""}">
									  </div>
								  </div>
								   
								   <div class="form-group">
									<label>命名空间<span>(命名空间，默认admin,常用admin,index,common,wap)</span></label> 
									 <div class="form-input">
									     <input type="text"  name="space" value="{$info.space|default='admin'}">
									  </div>
								  </div>
								  
								

						   </div>  
						    <div class="edit_content_tab none">
						       
							   <div class="form-group">
									<label>状态<span>(0-禁用，1-正常)</span></label>
									<div class="form-input">
									   <input type="text" name="status" value="{$info.status|default="1"}"/>
									</div>
							   </div>
		
						  </div>


						<div class="btn_group">
						   
							<div class="confirm_btn">确认</div>
							<div class="cancel_btn">返回</div>
						</div>
						
						</form> 

					</div>
				</div>
			</div>
		</div>
	
	 <script type="text/javascript">
	  $("select[name='category_id']").val("{$info.category_id|default='0'}"); 
	</script>
	 <script src="__JS__/edit.js"></script>

<!-- 尾部 -->
	{include file='public/footer'}
    <!-- 尾部 --> 
